secrets.* filter=git-crypt diff=git-crypt
*.secrets.* filter=git-crypt diff=git-crypt
*.config*.nix filter=git-crypt diff=git-crypt
config.nix filter=git-crypt diff=git-crypt
**/goose/config.yaml filter=git-crypt diff=git-crypt
**/goose/recipes/** filter=git-crypt diff=git-crypt
